[submodule "OpenAPI.Net"]
	path = OpenAPI.Net
	url = git@github.com:spotware/OpenAPI.Net.git
[submodule "openapi-proto-messages"]
	path = openapi-proto-messages
	url = git@github.com:spotware/openapi-proto-messages.git
